body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main, #second{
    border: 5px solid black;
    padding: 30px;
}

#ohraniceni{
    border: 2px solid black;
    padding: 4px;
}

#obrazek1, #obrazek2, #obrazek3, #jmeno1, #jmeno2, #jmeno3{
    border: 2px solid black;
    margin-left: 10px;
}

#b1, #b2{
    border-radius: 8px;
    width: 3cm;
    height: 1cm;
}

.strana_viditelna{
    display: block;
}

.strana_vypnuta{
    display: none;
}

#select1, #select2, #select3{
    width: 100  px;
}